*{
    padding: 3px;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.help1,.home,.aboutus,.mediaplatform,.attend{
    margin-top: 20px;
}
.header{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
a{
    font-size: 20px;
}
.footer{
    height: 70px;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(219, 215, 215);
}
.socialmedia{
    height: 60px !important;
    width: 200px;
    cursor: pointer;
}
.heading{
    font-size: 20px;
    border: 2px solid black;
    padding: 8px 20px ;
}
.nav_links,.menu{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 10px 2px 30px 0px rgba(0, 0, 0, 0.2);
}
.menu{
    list-style-type: none;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    text-decoration: underline;
   
}
/* home */

.home{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245,243,241);
    border: 1px solid rgb(245,243,241);
}
.content>.image{
    width: 800px !important;
    height: 600px !important;
}
.detail{
    width: 30%;
    margin-left: 30px;
    background-color: rgb(245,243,241);
}
.hcontent,.hcontentp{
    background-color:rgb(245,243,241 );
}
.homep{
    width: 100%;
    margin: 30px 0px;
}
.hcontentp{
    margin-bottom: 20px;
}
.present{
    color: black;
    text-decoration: none;
    background-color:rgb(245,243,241) ;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.present:hover{
    background: rgb(211, 206, 200);
    color: rgb(6, 6, 6);
}
h3{
    font-size: 22px;
}
.form{
    margin-top: 30px;
}
.error{
    color: red;
  }
  .submit{
    font-size: 15px;
    letter-spacing: 1px;
  }
  .subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  .check{
    background-color: rgb(114, 174, 23);
    color: aliceblue;
    border-radius: 100%;
    padding: 4px;
    margin-left: 2px;
  }
/* About us */
 .head{
    margin: 10px;
    padding-bottom: 10px;
    font-size: 25px;
 }
img{
    height: 300px !important;

}
h2{
    padding-bottom:20px ;
    letter-spacing: 1px;
}
.chuck,.tom,.scott,.team,.sponsor{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(219, 215, 215);
}
.img{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    width: 70%;
    letter-spacing: 1px;
}
.linkedin{
    padding-top: 40px;
}


.about_details{
    width: 100%;
    margin: 20px;
}
.learnmore{
    color: rgb(251, 249, 249);
    text-decoration: none;
    background: black;
    padding: 10px 20px;
    border-radius: 20px;
}
#sdetails{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* align-items: end; */
}
.sdetails{
    display: flex;
    /* justify-content: left; */
    align-items: center;
}
/* apply to present */
.applytp{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}
.applyhead{
    text-decoration: underline;
}
.applydetail{
    margin-top: 30px;
}
button{
    margin-top: 30px;
    /* border: none; */
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;

}
button:hover{
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}
.footer1{
    margin-top: 200px;
    height: 70px;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* how we help */



.helpdetail{
    width: 100%;
    margin-bottom: 30px;
    background-color: rgb(245,243,241);
    
}
.help{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    background-color: rgb(245,243,241);
}
.helpcontent{
    width: 90%;
    background-color: rgb(245,243,241);
}
.helpcontent>h3{
    background-color: rgb(245,243,241);
}
.helpcontent>li{
    margin-bottom: 10px;
    background-color: rgb(245,243,241);
}
.links{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(245,243,241); */
}
.helplink{
    text-decoration: none;
    font-weight: 600;
    color: rgb(89, 87, 87);
    padding-bottom: 7px;
    
    background: rgb(224, 217, 211);
    color: rgb(6, 6, 6);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.helpcontent>.links{
    background-color: rgb(245,243,241);
}
.helplink:hover{
    text-decoration: underline;
    background: rgb(211, 206, 200);
    color: rgb(6, 6, 6);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
}
.feedback{
    margin-right: 20px;
    background-color: rgb(245,243,241);
}
/* attendmeeting */

.attend{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.attendmeeting{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.meetinglink{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/* media */
.mediaplatform{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.media{
    height: 200px !important;
    width: 400px;
    cursor: pointer;
    border-radius: 20px;
}
.mediadetails{
    width: 80%;
    margin-top: 20px;

}

.hamburg{
    display: none;
}
p{
    font-size: larger;
}

@media screen and (max-width:820px){
    .header{
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
    .nav_links{
        box-shadow: none;
    }
    .menu{
        display: none;
        
    }
    .menumobile{
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        list-style: none;
        backdrop-filter: blur(5px);
        right: 0;
        top: 10px;
        transition: all 0.5s ease-out;
        height: fit-content;
        width: 200px;
        /* padding: 20px; */
    }
    li{
        margin-bottom: 30px;
    }
    .hamburg{
        display: block;
        position: absolute;
        top: 15px;
        right: 4px;
        height: 50px;
        width: 50px;
        border-radius: 20px;
        background: none;
        border: none;
        /* box-shadow: 10px 2px 30px 0px rgba(0, 0, 0, 0.2); */
        padding: 20px;
    }
    .hamburg:hover{
        background-color: none !important;
    }
    .help1,.home,.aboutus,.mediaplatform,.attend{
        margin-top: 0px;
    }

    /* home */
    .home{
        display: flex;
        flex-direction: column;
    }
    .content{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(245,243,241);
        

    }
    .hcontent,.hcontentp{
        background-color: rgb(245,243,241);
    }
    .hcontentp{margin-bottom: 20px;}
    .content>.image{
        width: 100% !important;
        height: 100% !important;
    }
    .detail{
        width: 100%;
        margin-left: 0px;
    }
  .present{
    margin-bottom: 20px;
  }
  

    /* about us */
    .chuck,.tom,.scott,.team,.sponsor{
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(219, 215, 215);
    }
    .img{
        height: 100%;
        width: 100%;
       padding: 4px;
    }
    .details{
        width: 100%;
        
    }
    p{
        width: 100%;
        letter-spacing: 1px;
    }
    .teamimg,.sponsorimg{
        margin: 20px;
    }

    /* how we help */
    .help{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
    }
    p{
        font-size: 22px;
    }
    li{
        font-size: larger;
    }
}
